body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(248, 247, 247, 0.24, 196, 196)7f7;
}

.stopwatch {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #ffcc00, #ff6699);
    border-radius: 50%;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    margin: 20px; 
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #ff6699;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ffcc00;
    color: #fff;
}
